<!DOCTYPE html>
<html>
  <head>
    <title>Create Song:</title>
  </head>
  <body>
    <form action="/songs" method="POST">
        <h3>Name:<input type="text" name="song[name]" id="Name" value="Name"></h3>

        <h3>New Artist:</h3>
            <p><input type="text" id="Artist Name" name="artist[name]"></p>
        <p>Genres:</p>
         <%Genre.all.each do |genre|%>
         <p><input id="<%=genre.name%>" type="checkbox" name="genre[]" value="<%=genre.id%>"><%=genre.name%></p>
         <%end%>

         <input type="submit" value="Create Song">
    </form>
  </body>
</html>